
body
{
    overflow-x: hidden;
    background-color: #CFF0D6;
}
/* working on main content */
#meal-cont
{
    width: 100vw;
    height: calc(100vh - 50px);
    padding: 20px;
    z-index: 1;
    background-size: cover;
    color: #333333;
    z-index: 22;
    
    padding-bottom: 25px !important;
}


/* meal container upper */
.meal-cont-basic
{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    gap: 50px;
    overflow: hidden;
    position: relative;
    margin-bottom: 25px;
}

/* img */
#meal-cont-basic__picture
{
    flex: 1;
    width: 350px;
    height: 350px;
    min-width: 150px;
    min-height: 150px; /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0px 0px 10px 5px rgba(110, 110, 110, 0.5);
    position: relative;
    filter: brightness(90%);
}


/* info */
.meal-cont-basic-info
{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 2;
}
.meal-cont-basic-info h1
{
    font-size: 58px;
    font-family: var(--headFont);
    letter-spacing: 5px;
}
.meal-cont-basic-info__tag
{
    margin: 10px;
}

.meal-cont-basic-info__tag span
{
    background-color: rgba(8, 250, 89, 0.4);
    padding: 2px 8px;
    border-radius: 2px;
    font-size: 14px;
    font-family: var(--subheadFont);
    color:  rgba(1, 1, 1, .7);
}

/* links list menu content */
.meal-cont-basic-info__linkList
{
    padding: 15px;
    margin-top: 5px;
}
.meal-cont-basic-info__linkList h2
{
    font-size: 28px;
    font-family: var(--headFont);
    letter-spacing: 2px;
}

.meal-cont-basic-info__linkList li 
{
    list-style: none;
    margin: 5px 0px 5px 10px;
    padding: 2px 8px;
    min-width: 150px;
    width: 300px;
}
.li_link
{
    font-size: 20px !important;
    font-family: var(--subheadFont);
    letter-spacing: 2px;
    text-decoration: none;
    color: var(--text);
}

.meal-cont-basic-info__linkList li:hover a
{
    color: var(--primary-color);
}
.meal-cont-basic-info__linkList li:hover 
{
    background-color:  rgba(8, 250, 89, 0.4);
}




/* button */
.meal-cont-basic_favBttn
{
    cursor: pointer;
    position: absolute;
    background-image: url('../../assets/heart.png');
    background-size: cover;
    background-clip: content-box;
    border: none;
    width: 40px;
    height: 40px;
    right: 0px;
    margin: 1.5vw;
}

.meal-cont-basic_favBttn:hover
{
    filter: drop-shadow(0px 6px 4px rgba(246, 34, 34, 0.8));
}

