/* working card */



#fav-cont
{
    padding: 20px 20px 5px;
    width: 100vw;
    height: calc(100vh - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    z-index: 1;
}


#fav-cont::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: calc(100vh);
    background-image: url('../../assets/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(50%);
    z-index: -1;
}

#heading
{
    letter-spacing: 2px;
    font-family: var(--logoFont);
    font-size: 48px;
    margin: 10px 0px 20px;
    color: var(--secondary-color);
}

#favoriteCont
{
    padding: 10px;
    display: flex;
    height: 100%;
    overflow: auto;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    align-content: center;
}

.favCard
{
    width: 220px;
    height: 220px;
    position: relative;
    box-shadow: 0px 0px 5px 2px rgba(48, 42, 42, 0.4);
    overflow: hidden;
    cursor: pointer;
}

.favCard__img
{
    width: 100%;
    height: 100%;
    object-fit: contain;
    filter: brightness(100%);
}

.favCard-info
{
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0px;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: .7s ease-in;
    background: linear-gradient(to top, rgba(48, 39, 39, 0.9) 20%, rgba(48, 39, 39, 0.5) 60%, rgba(48, 39, 39, 0) 100%);
}

.favCard-info_h4
{
    font-size: 18px;
    letter-spacing: 2px;
    font-family: var(--subheadFont);
    /* cursor: pointer; */
    color: whitesmoke;
    transition: .7s ease-in;
    text-align: center;

}

.favCard:hover .favCard-info
{
    height: 100%;
    background: linear-gradient(to top, rgba(48, 39, 39, 0.9) 10%, rgba(48, 39, 39, 0.5) 50%, rgba(48, 39, 39, 0) 100%);
}

.favCard:hover .favCard-info_h4
{
    font-size: 22px;
}



@media(max-width:570px)
{
    #fav-cont
    {
        height: calc(100vh - 110px);
    }
}