
/* navbar */
.navbar
{
    width: 100vw;
    height: 50px;
    background-color: var(--primary-color);
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.navbar-logo
{
    display: inherit;
    flex: 1;
}
.navbar-logo img
{
    width: 30px;
    height: 30px;
}
.navbar-logo h1{
    letter-spacing: 4px;
    margin-left: 10px;
    font-family: var(--logoFont);
    font-size: 28px;
}
.navbar-menu
{
    flex: 1;
}
.navbar-menu .navbar-menu-list 
{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}
.navbar-menu .navbar-menu-list .navbar-menu-list__item
{
    padding: 0px 5px;
    flex: 1;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-menu .navbar-menu-list .navbar-menu-list__item:hover
{
    background-color: #FFBE40;
}
a 
{
    font-family: var(--headFont);
    font-size: 18px !important;
    letter-spacing: 2px;
    cursor: pointer;
    color: var(--text);
}

@media(max-width:570px)
{
    .navbar-logo
    {
        flex: 0;
    }
    .navbar
    {
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }
}