/* working on ingredient /  instructions*/


.meal-cont-ingre , .meal-cont-instuct
{
    padding: 10px;
    position: relative;
}

.meal-cont-ingre h3 , .meal-cont-instruct h3
{
    font-size: 26px;
    font-family: var(--subheadFont);
    padding-left: 5px;
    letter-spacing: 4px;
    padding-bottom: 5px;
    border-bottom: 2px solid var(--text);
    width: 65%;
}

#meal-cont-ingre-matrialBox , .meal-cont-instruct-instructBox 
{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    width: 60%;
    min-width: 500px;
}

.meal-cont-ingre__matrial
{
    gap: 2px;
    display: flex;
    flex-direction: row;
}

/* spans */
.ingre
{
    background-color: #3CB371;
    flex: 1;
    padding: 5px 0px;
    text-align: center;
    font-size: 18px;
    font-family: var(--paraFont);
}


/* instruction */
.meal-cont-instruct-instructBox p
{
    font-size: 18px;
    word-spacing: 2px;
    white-space: pre-line;
    font-family: var(--paraFont);

}